@page "/"
@using BlazorApp.Shared.User
@inject HttpClient Http

@if(!string.IsNullOrEmpty(userName)) 
{
  <h1>Logged in as, @userName!</h1>
  
  <a href="/logout" target="_blank" class="ml-md-auto">Logout</a>
}
else
{
  <p>
    Click here to <a href="/login" target="_blank" class="ml-md-auto">Login</a>
  </p>
}

@code {
    private string userName;

    protected override async Task OnInitializedAsync() 
    {
      try
      {
        var user = await Http.GetFromJsonAsync<ClientPrincipal>(".auth/me");
        userName = user?.UserDetails;
      }
      catch (Exception ex)
      {
        Console.WriteLine(ex.ToString());
      }
    }
}