@page "/"
@using BlazorApp.Shared.User
@inject HttpClient Http

<h1>Hello, @userName!</h1>

Welcome to the app.

@code {
    private string userName;

    protected override async Task OnInitializedAsync() 
    {
      try
      {
        var user = await Http.GetFromJsonAsync<UserInfo>("/api/UserInfo");
        userName = user?.Name;
      }
      catch (Exception ex)
      {
        Console.WriteLine(ex.ToString());
      }
    }
}